html, body {
  height: 100%;
  margin: 0;
}
body{
	font-family: Arial, sans-serif;
}
.container{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100%;
}
.clickMeBtn{
	font-size: 3rem;
	background-color: transparent;
	border-radius: 8px;
	border: 1px solid black;
	color: black;
	width: 30vw;
	height: 10vh;
}